/* index */
@media (max-width: 800px) {
    #hero-wrapper {
        position: absolute;
        top: 100;
        left: 100;
        width: 10%;
        height: 10%;
        z-index: -100;
    }


 

}

/* index */
@media (max-width: 600px) {
    #hero-wrapper {
        position: absolute;
        top: 100;
        left: 100;
        width: 10%;
        height: 10%;
        z-index: -100;
    }

    #hero-bg-media {
        min-width: 10%;
        min-height: 10%;
        position: absolute;
        left: 50%;
        -webkit-transform: translate(-50%, -10%);
        transform: translate(-20%, -50%);
        top: 50%;
    }


}

@media (min-width: 960px) {
    #hero-wrapper {}

    #hero-bg-media {}


}


@media (min-width: 960px) {
    #hero-wrapper {}

    #hero-bg-img {

    }

    #hero-bg-media {
        top: 45%;
    }
}

@media (min-width: 800px) {
    #hero-wrapper {}

    #hero-bg-media {
        top: 25%;
    }
}

@media (min-width: 640px) {
    #hero-wrapper {}

    #hero-bg-media {
        top: 20%;
    }
}

@media (min-width: 480px) {
    #hero-wrapper {}

    #hero-bg-media {
        top: 25%;
    }
}

@media (min-width: 320px) {
    #hero-wrapper {}

    #hero-bg-media {
        top: 15%;
    }
}

/* Fin index */